<h1>FAQ </h1>

<p class="faq_question">What is mydothis.com? </p> 

<p class="faq_answer">mydothis.com is a to do list web site. </p>

<p class="faq_question">What kind of tasks is mydothis.com for? </p>

<div class="faq_answer">
<p>
  mydothis.com is for all tasks, whether large or small. 
</p>
<p>
  The idea is to put things on the list so that you don't have to think about them. 
</p>
</div>

<p class="faq_question">
  How can I format my items?
</p>

<div class="faq_answer">
  You can use a limited set of HTML tags.  
  <ul>
    <li>&lt;a&gt; links</li>
    <li>&lt;b&gt; bold</li>
    <li>&lt;br&gt; line break</li>
    <li>&lt;i&gt; italics</li>
    <li>&lt;strong&gt; strong</li>
    <li>&lt;u&gt; underline</li>
  </ul>
</div>

<p class="faq_question">What are tags and how do I use them? </p>

<div class="faq_answer">
<p>Tags are a way of organizing the items on your to do list into groups or categories.  Examples of tags are <i>travel</i>, <i>family</i>, <i>health</i>, or <i>important</i>. </p>  

<p>If you click on a tag in your tasks listing, you will get a list of items tagged with that tag. The "Tag Report" tells you which tags you have used and how many times, and lets you delete your unused tags.</p>
</div>

<p class="faq_question">What if I want a tag that has two words, like "apple store"? </p>

<p>Put a dash in it, like this: apple-store </p>

<p class="faq_question">
  What is the difference between "New Next Item" and "New item with any number"?
</p>

<p class="faq_answer">
  "New Next Item" auto-numbers the item one higher than your highest-numbered item.  "New item with any number" allows you to enter whatever number you want for an item.  Items are sorted by number from lowest (oldest) to highest (newest).
</p>

<p class="faq_question">When should I delete an item? </p>

<p>My philosophy is to delete it when it is done. If another part or aspect of the item needs to be done, I prefer to create a new item.</p>

<p class="faq_question">What are Act Types?</p>

<p>Act Types are a broader category than Tags. I've started you off with a few Act Types, but you can add, change, or delete them.    </p>
<p>Initial Act types:</p>
<table>
<tr><td>MA</td><td>My agenda</td><td>Things you do for their own sake. New experiences like travel. </td></tr>
<tr><td>SEC</td><td>Secondary items on my agenda</td><td>Not maintenance, but not things that make you wildly happy either. For me buying clothes falls into this category. </td></tr>
<tr><td>MAINT</td><td>Maintenance</td><td>Things that when done, will just get you back to where you were before. Examples are fixing things or buying routine items.</td></tr>
<tr><td>FO</td><td>For others</td><td>Things you want to do primarily for other people.</td></tr>
<tr><td>BUDG</td><td>Budget and finances</td><td>Items related to saving money, paying bills, budgeting, managing finances.</td></tr>

</table>

<p class="faq_question">
  How do you use mydothis.com?
</p>

<p class="faq_answer">Do you mean me, personally?</p>

<p class="faq_question">
  Yes.
</p>

<p class="faq_answer">
  I print my list using the "Print-friendly" link and carry it around with me, adding items in pen to the bottom. Then I enter them into the app when I have time.
</p>