<label>Tags:</label>   
  <% thelist = @item.tags.collect{|t| t.name}.join(" ") %> 
  <div id="mydiv"> 
  <%= text_field_tag "tag_list", thelist %>
</div>  
<b>your tags:</b><br>

<% @labels = Tag.used_tags %>
  <% for label in @labels %>
    <span class="tag">
      <%= label.name %>
    </span> 
    &nbsp;    
  <% end %>
<br><br>  
<%= submit_tag 'Save' %>
  