<h1>Listing act_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @act_types.each do |act_type| %>
  <% item_count = Item.where(:act_type => act_type.name).count %>
  <tr>
    <td><%= act_type.name %></td>    
    <td><%= link_to 'Edit', edit_act_type_path(act_type) %></td>
    <td>
    <% unless item_count > 0 %>
      <%= link_to 'Delete', act_type, confirm: 'Are you sure?', method: :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Act type', new_act_type_path %>
