/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* top menu */

#top_menu > a {
	margin-right: 28px;
}

#hello_user {
	margin-right: 28px;
}

/* end of top menu */

/* feedback stuff */

#feedback {
  position: fixed;
  right: -7px;
  top: 280px;
  cursor: pointer;
}

#feedback-lightbox {
  font-size: 0.8em;
}

.feedbackdlg .ui-dialog-buttonpane {
  border: none;
  margin: 0;
  padding: 0 1em 0.5em 0.4em;
}

.feedbackdlg #lb-subject {
  margin-bottom: 13px;
  margin-top: 10px;
  width: 369px;
}

.feedbackdlg #lb-question {
  height: 125px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 369px;
}

.feedbackdlg #lb-email {
  margin-top: 10px;
  width: 369px;    
}    


/* end of feedback stuff */

/* list page */

form#searchForm {
  margin: 10px 0;
}

form.newNextItemForm {
  margin: 10px 0;
}

#newItem {
  margin: 10px 0;
}

form#deleteItem {
  margin: 9px 0;
}

/* end of list page */

/* help */

.faq_question {
  font-weight: bold;
}